@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

body{
    font-family: sans-serif, cursive;
    background-color: lightgreen;
    margin: 5%;
    font-size: 30px;
}

h2{
    padding-top: 150px;
}
